//
// Layouts
// 

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 56px;
}

.bg-inverse {
    background-color: #292b2c!important;
}
.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
}

.my-container{
    margin: 80px 0 0 30px;
    display: inline-block;
}

.container.readme {
    margin: 30px;
}

.loader {
    margin: 50px;
}

.blue {
    color: blueviolet;
}